---
Language: Cpp
# BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 11
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
ColumnLimit: 142
SpaceBeforeCpp11BracedList: true
BreakBeforeBinaryOperators: NonAssignment
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
PointerAlignment: Left
BreakStringLiterals: false
...
